@mixin fontFace($fontFamily, $fontWeight, $fontStyle, $fontSrc) {
  @font-face {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-style: $fontStyle;
    font-display: swap;
    src: $fontSrc;
  }
}
