
.catalog__list {
  display: grid;
  grid-template-columns: 1fr;

  margin: 0;
  padding: 0;

  list-style: none;
  align-items: start;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: 0;

      width: 100vw;
      height: 1px;

      background-color: #ebebeb;
      box-shadow: 100vw 0 #ebebeb;
    }
  }

  @media (min-width: $tablet-width) {
    &--empty {
      margin-top: 82px;
    }
  }

  @media (min-width: $desktop-width) {
    &--empty {
      margin-top: 80px;
    }
  }
}
