.diet__list {
  display: grid;
  row-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 80px;

    padding-top: 82px;
  }
}
