.features {
  padding-top: 22px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 46px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 69px;

    border-bottom: none;
  }
}

.features__title {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.features__list {
  display: grid;
  row-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 249px);
    gap: 77px 135px;

    counter-reset: list-item;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    gap: 54px;
    justify-content: space-between;
  }
}

.features__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;


  @media (min-width: $tablet-width) {
    position: relative;

    flex-direction: column;
    align-items: start;
    gap: 31px;

    padding-bottom: 57px;

    counter-increment: list-item;

    &:nth-child(1) {
      &::after {
        right: 24px;
      }
    }

    &:nth-child(2) {
      &::after {
        right: 5px;
        top: -39px;
      }
    }

    &:nth-child(3) {
      &::after {
        right: 3px;
        top: -38px;
      }
    }

    &:nth-child(4) {
      &::after {
        right: 1px;
      }
    }


    &::after {
      content: counter(list-item);

      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;


      font-family: $second-family;
      font-weight: 400;
      font-size: 280px;
      line-height: 100%;
      color: $text-color-tertiary;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      &::after {
        right: 26px;
      }
    }

    &:nth-child(2) {
      margin-left: 0.5px;

      &::after {
        right: 3px;
      }
    }

    &:nth-child(3) {
      margin-left: 2.1px;

      &::after {
        right: 0;
      }
    }

    &:nth-child(4) {
      margin-left: 4px;

      &::after {
        right: -4px;
      }
    }
  }
}

.features__item--icon-leaf::before,
.features__item--icon-form::before,
.features__item--icon-eat::before,
.features__item--icon-time::before {
  content: "";

  flex-shrink: 0;

  width: 60px;
  height: 60px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: $bg-color-special;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.features__item--icon-leaf::before {
  background-size: 25px 28px;
  background-position: center calc(50% + 1px);
  background-image: url("./../../icons/icon-leaf.svg");
}

.features__item--icon-form::before {
  background-size: 26px 29px;
  background-position: center calc(50% + 1px);
  background-image: url("./../../icons/icon-form.svg");

  @media (min-width: $desktop-width) {
    margin-left: 1px;

    background-position: center;
  }
}

.features__item--icon-eat::before {
  background-size: 25px 30px;
  background-position: left 17.3px top 15px;
  background-image: url("./../../icons/icon-eat.svg");

  @media (min-width: $tablet-width) {
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;

    background-position: left calc(50% + 1px) center;
  }
}

.features__item--icon-time::before {
  background-size: 27px 31px;
  background-position: left 17.56px top 15px;
  background-image: url("./../../icons/icon-time.svg");

  @media (min-width: $tablet-width) {
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;

    background-position: left calc(50% + 1px) center;
  }
}

.features__item-description {
  margin: 0;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 245px;

    font-size: 16px;
    line-height: 150%;

    & br {
      display: block;
    }
  }
}
