.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-color-base;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 70px;
  }
}

.page-footer__logo {
  flex-shrink: 0;

  width: 128px;
  height: 24px;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0.8px;
  }
}

.page-footer__line {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    height: 1px;
    width: 100%;

    background-color: #d9d9d9;
  }
}

.page-footer__social {
  flex-shrink: 0;

  margin-top: 4px;

  @media (min-width: $tablet-width) {
    width: 236px;
    margin-left: 38px;
    margin-top: 4px;

    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 294px;
  }
}

.page-footer__link {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;

  margin-top: 3px;

  color: inherit;
  font-size: 16px;
  line-height: 125%;

  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";

    flex-shrink: 0;

    width: 27px;
    height: 34px;

    mask-image: url("./../../icons/htmlacademy-logo.svg");
    mask-repeat: no-repeat;
    background-color: $icon-bg-color;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $icon-bg-color-focus;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: normal;
    align-self: auto;

    margin-left: auto;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0.8px;
  }
}
